@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.search{
    display: flex;
    width: 50%;
    max-width: 78rem;
}

#searchInput{
    padding: 0.5rem 1rem;
    width: 100%;
}

#searchInput:focus-visible{
    border: 1px solid purple;
}

.primaryBtn{
    background-color: purple;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
}

.primaryBtn:hover{
    background-color: rgb(61, 3, 61);
}

.primaryBtn:active{
    background-color: rgb(248, 48, 248);
}

/* For Card */

.profile-box{
    padding: 4rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 78rem;
    transition: 0.5s ease;
}

.profile-box:hover{
    transform: rotate(-5deg) scale(1.01);
    transition: 0.5s ease;
}

.avatar{
    height: 10rem;
    width: 10rem;
}

.avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.top-section{
    display: flex;
    justify-content: space-between;
}

.top-section button{
    align-self: center;
}

.left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left h1{
    font-size: 1.6rem;
}

.about{
    margin: 2rem;
}

.status{
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}